
@font-face {
    font-family: Workbench;
    src: url("fonts/Workbench-Regular-VariableFont_BLED,SCAN.ttf");
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "BLED" 0,
            "SCAN" 0;
}

/* --- GLOBAL STYLE --- */
* {
    margin: 0;
    box-sizing: border-box;
}

/* --- BUILDINGS --- */
#buildings_wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    column-gap: 15px;

    width: 400px;
}

.building {
    background: #383838;
    color: #7fffcd;

    font-family: Workbench, monospace;

    padding: 25px 10px;

    border: 15px solid #7af683;
    border-radius: 15px;
}

.building_name{
    font-size: 36px;
    font-variation-settings: "BLEED" 30, "SCAN" -2;

    margin: 10px;
}

.building:hover {
    background: #7af683;
    color: #252525;

    font-weight: 900;
}